:root{
  --html-color:#E34C26;
  --css-color:#2965f1;
  --js-color:#F0DB4F;
}
*,
*::before,
*::after{
  margin:0;
  padding: 0;
}
html{
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #27251f;
  color: #ffffff;
}
header {
  background-color: transparent;
  position: absolute;
  box-sizing: border-box ;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid transparent;
  transition: all ease .50s;
}
.logo{
  text-decoration: none;
  color: #f3f7eb;
  font-size: 2em;
  font-weight: bold;
}
nav{
  padding: 50px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
header > nav > ul{
  display:flex;
  gap: 70px;
  align-items: center;
  margin: 20px;
  padding: 10px;
}
nav > ul > li{
  list-style-type: none;
}
nav > ul > li> a{
  text-decoration: none;
  color: 	#f3f7eb;
}
nav > ul > li> a:hover{
  color:#c4ced4;
  text-decoration: underline;
  transition:  0.6s ;
}
@media screen and (max-width: 600px){
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#welcome-section {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  margin: 30px;
}
.welcome-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: auto ; 
  grid-gap: 200px;

}

#welcome-section h1 {
  font-size: 3.5em;
  text-align: start;
}


.job {
  font-weight: bold;
  color: #c4ced4;
  font-size: large;
}

#welcome-section p {
  font-size: 1.3em;
  margin-top: 20px;
  text-align: justify;
  line-height: 1.5em;
  width: 100%;
}

#welcome-section .resume {
  width: 25%;
  height: 10%;
  background-color: #c4ced4;
  color: #27251f;
  border: #27251f 2px solid;
  border-radius: 5px;
  margin-top: 30px;
  font-weight: 600;
  flex-wrap: nowrap;
}

.resume:hover {
  box-shadow: 0px 0px 0px 5px #ffffff;
  transition: box-shadow 0.6s;
}
.photo{
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: auto;
}
.photo-bg {
  background-color: #a8b0b4;
  box-shadow: 2px 3px 5px 5px #000;
  width: 320px;
  height: 320px;
  border-radius: 72% 28% 62% 38% / 49% 49% 51% 51%;
  animation-name: beat;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-fill-mode:forwards;
  animation-timing-function: ease-out;
}
.photo-bg:hover{
  transform:scale(1.1);
  transition:0.6s;
}
@keyframes beat {
  0%{
  background-color:#312f27 ;
  }
  50%{
    background-color: #828485;
  }
  75%{
    background-color:  #a8b0b4;
  }
  100%{
  background-color: #312f25;
  }
}
.about,
.photo {
  padding: 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 980px) {
  #welcome-section{
    margin: 200px;
    font-size: 24px;
    height: 50%;
  }
  #welcome-section, .job-title{
    font-size: 28px;
    margin: 200px 80px 10px;
    text-align: center;
  } 
  .job{
    font-size: 33px;
  }
  .welcome-grid{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
  }
  #welcome-section .resume {
    padding: 8px;
    width: 25%;
    height: 30%;
    font-size: 24px;
    font-weight: 500;
  }
  .about{
    display: inherit;
    flex-direction: column;
    align-items: center;
  }
}
#work{
  margin: 50px;
}
#projects{
  margin-bottom: 30px;
  text-align: center;
}
#projects .project-title {
  font-size: 2em; 
}
.grid-project{
  display: flex;
  justify-content: center;
}

.project-tile{
  background: #1f272a;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 340px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  grid-gap: 3rem;
  width: 100%;
  max-width: 1280px;
  margin-bottom: 6rem;  
}
.see-more {
  margin-top: -50px;
  text-align: right;
  margin-right: 15%;
}
.see-more a {
  text-decoration: none;
  color: #fafafa;
}
.see-more a:hover{
  text-decoration:underline;
  color: #a8b0b4;
}

@media (max-width: 690px) {
  #work {
    display:flex;
    justify-content: center;
    flex-direction: column;
  }
  .see-more {
    margin: -70px 0 0 180px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

.grid .project-image{
  width: 100%;
  object-fit: cover;
  height: 300px;
  margin-bottom: 6px;
  border-radius:10px;
}

.grid a{
  text-decoration:none;
  color: aliceblue;
}

.grid p{
  text-align:center;
}

#skills{
  margin: 50px;
  height: 20vh;
}
h1{
  text-align: center;
}
.skill{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  place-items: center;
  margin-top:50px;
}
.language{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 220px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fafafa;
  margin-bottom: 20px;
}
#skills i{
  font-size: 4.5em;
}
#skills h3{
  color: #1d2528;
}
.fa-html5{
  color: var(--html-color);
} 
.fa-css3-alt{
  color: var(--css-color);
}
.fa-js{
  color: var(--js-color);
}

#contacts {
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh;
}

#contact {
  margin-bottom: 30px;
}
@media screen and (max-width:790px){
  #contact{
    height: 50vh;
  }
}
#contacts h2 {
  text-align: center;
  margin: 40px;
}

.social {
  display: flex;
  gap: 200px;
}
.social a{
  text-decoration: none;
}
.social i{
  font-size: 3em;
  color: #f3f7eb
}
.social p{
  font-size: 1em;
  color: #f3f7eb;
  margin-top: 10px;
}
@media (max-width:690px){
  #contacts{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .social{
    flex-direction: column;
    gap:25px;
  }
}